@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: spin 5s linear infinite;
    width: 6rem;
    height: 6rem;
    color: #099A97;
}